.lite-piano-ui-container {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.lite-piano-ui-container .piano-key-outer {
  height: 100%;
  flex-basis: 2%;
}
.lite-piano-ui-container .piano-key-outer .piano-key {
  border: 1px solid #333;
  height: 100%;
  transition: all .2s ease-out;
  background: #fff;
}
.lite-piano-ui-container .piano-key-outer .piano-key.playing {
  background: #bbb;
}

.lite-piano-ui-container .piano-key-outer.alter {
  height: 100%;
  flex-basis: 0;
  position: relative;
}

.lite-piano-ui-container .piano-key-outer.alter .piano-key {
  height: 60%;
  position: absolute;
  left: 0;
  top:0;
  background: #333;
  transform: translateX(-50%);
}
.lite-piano-ui-container .piano-key-outer.alter .piano-key.playing {
  background: #999;
}


.music-test-measure {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.music-test-measure-panel {
  margin-bottom: 12px;
}
.music-test-staff {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid #666;
}
.music-test-measure-title {
  text-align: center;
  background: #666;
  height: 32px;
  line-height: 32px;
  color: #fff;
}

.music-test-note.played {
  background: #ccc;
  color: #fff;
}