.lite-piano-ui-container {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.lite-piano-ui-container .piano-key-outer {
  height: 100%;
  flex-basis: 2%;
}
.lite-piano-ui-container .piano-key-outer .piano-key {
  border: 1px solid #333;
  height: 100%;
  transition: all .3s;
  background: #fff;
}

.lite-piano-ui-container .piano-key-outer.alter {
  height: 100%;
  flex-basis: 0;
  position: relative;
}

.lite-piano-ui-container .piano-key-outer.alter .piano-key {
  height: 60%;
  position: absolute;
  left: 0;
  top:0;
  background: #333;
  transform: translateX(-50%);
}
